body{
  margin:2em;
  width: 50%;
}
label{
  display: inline-block;
  width: 8em;
  padding: 0.5em;
}
#inputs{
  padding: 1em 1em 1em 1em;
}
table{
  padding: 1em;
  margin: 2em;
  border:thick solid #e3e3e3;
}
td{
text-align: center;
}
thead{
  text-align: left;
}